doctype html
html
    head
    block styles
        link(rel="stylesheet" type="text/css" href="/stylesuccesspage.css")
    body(class="backgroundall")
        p Your order was a success!
        p For take out, expect 10 ~ 15 min wait. 
        p For delivery, expect 20 ~ 45 min wait depending on the demand at the moment.  
        p Thank You For Choosing <br>People's Choice. 

        div(class="backhome") 
           <a class="button" href="\index.html">To Homepage</a> 